body {
    font-size: medium;
    color: #000;
    font-family: "Lucida Grande", "Calibri", helvetica, sans-serif;
    scrollbar-3dlight-color: #DDEAF9;
    scrollbar-arrow-color: #1C3C82;
    scrollbar-base-color: #DDEAF9;
    scrollbar-darkshadow-color: #DDEAF9;
    scrollbar-face-color: #DDEAF9;
    scrollbar-highlight-color: black;
    scrollbar-shadow-color: black;
    font-size: small;
    background: #F7F7F7 none repeat scroll 0 0;
}

.button {
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    background-color: #DDEAF9;
    border: 1px solid #AAB7C6;
    display: inline-block;
    margin: 0 5px 10px 0;
    padding: 3px;
    border-color: darkgreen;
}

.data {
    border-collapse: collapse;
    margin: 10px 0 0;
    width: 100%;
    border-color: darkgreen;
}

    .data td {
        border: 1px solid darkgreen;
        padding: 5px;
    }

#content {
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    color: black;
    line-height: 1.5em;
}

#shortnotice {
    background-color: #FFDDDD;
    border: 1px solid #FFDDDD;
    font-weight: bold;
    width: 97%;
}

